$green          : #23b790;
$lblue          : #03979E;
$orange         : #FF8A00;
$dblue          : #0A3A83;
$red            : #BA2857;
$yellow         : #D1E300;
$bblue          : #0097F1;
$purple         : #A500F1;

$e-blue         : #0B1126;
$e-green        : #23b790;
$e-green-alt    : #279F6C;
$e-blue         : #100F76;
$e-lime         : #98E144;
$e-yellow       : #EFEE8C;
$e-paper        : #FFF7F0;

$app-blue       : #0E2445;
$app-link       : #03979E;
$app-green      : #27b790;
