h1,h2,h3,h4,h5,h6,p,a,li {
    font-family:$body;
}

h1,h2,h4,h6 {
    font-family:$demi;
    color:#1d1d1d;
}
h2,h4,h6 {
    line-height:1.2em;
}
h4 {
  font-family:$demi;
}
h1 {
    line-height:1em;
    font-family:$bold;
}
h6 {
  font-size:1.2em;
}

.headline_larger {
  font-size:3.3rem;
  @media (max-width:$screen-lg) {
    font-size:2.5rem;
  }
  @media (max-width:$screen-md) {
    font-size:2.1rem;
  }
}

h3,h5,h6,p,a,li {
    line-height:1.5em;
}

.icon {
  color:lighten($app-link,10);
}
a {
  font-size:1.2em;
  color:lighten($app-link,10);
  &:hover {
    color:lighten($app-link,10);
    cursor:pointer!important;
  }
}

ul {
  list-style-type:none;
}

footer p {
  font-size:.8em;
}

.icon {
  font-size:3.5rem;
}

.theme-evint {
  --fa-secondary-opacity: 1;
  --fa-primary-color: white;
  --fa-secondary-color: #24AB7E;
}

.theme-evint-dark {
  font-size:3em;
  --fa-secondary-opacity: 1;
  --fa-primary-color: #0B2970;
  --fa-secondary-color: #24AB7E;
}

.boost {
  font-size:2rem;
}

.navbar-brand img.logo {
  width:100px;
}

.navbar {
    padding-top:2rem;
    padding-bottom:2rem;
}

.navbar-light .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
  padding-right:1rem;
  padding-left:1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color:white;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color:yellow;
}

.navbar-dark .navbar-toggler {
  color:white;
  opacity:1;
  border:none;
}

.navbar-light .navbar-toggler {
  opacity:1;
  border:none;
}

.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:visited {
  outline:none;
}

.navbar-light .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  font-size:1.2rem;
}

.navbar-light .navbar-nav a.nav-link {
  color:$app-link;
  &:hover {
    color:lighten($app-link,5);
  }
}


@media (max-width:991px){
    .nav-item:first-of-type {
      margin-top:1rem;
    }
    .navbar-light .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link {
      padding-right:0rem;
      padding-left:0rem;
      text-align:center;
      font-size:2rem;
    }
}

.jumbotron {
  margin-bottom:0;
}

hr {
  padding:0;
  margin:0;
}

section, footer {
  background-color:white;
  padding-top:6rem;
  padding-bottom:0rem;
}
section .container {
  border-bottom:2px solid #eee;
  padding-bottom:6rem;
}
section.no-border .container {
  border-bottom:none;
}

.container {
max-width:76.875rem
}

footer a.logo {
  display:block;
  width:100px;
}

img {
  width:100%;
}

.btn-primary {
    background-color:$green;
    border:none;
    padding:1rem 1.5rem;
    border-radius:10px;
    font-family:$demi;
    &:hover {
        background-color:darken($green,10);
    }
}

.center {
  display:block;
  margin:0 auto;
}



html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-light {
    padding:1rem 2rem;
}

.homepage .jumbotron {
    background:white;
    // background:url('../assets/img/home-hero.jpg');
    // background-size:cover;
}

.homepage .jumbotron {
  padding-top:2rem;
  padding-bottom:5rem;
  img {
    width:160%;
    @media (max-width:$screen-md) {
      width:100%;
    }
  }
}

.how-it-works .jumbotron {
  padding-top:8rem;
  padding-bottom:8rem;
  background:url('../assets/img/elements_how-it-works.svg');
  background-size:cover;
  color:white;
  border-radius:0;
  h1 {
    color:white;
  }
}

.company .jumbotron {
  padding-top:2rem;
  padding-bottom:2rem;
  background:white;
  background-size:cover;
  color:white;
  border-radius:0;
  h1,p {
    color:#1d1d1d;
  }
}

.thank-you .jumbotron, .schedule-a-demo .jumbotron {
  background:white;
  background-size:cover;
  color:white;
  border-radius:0;
  h1,p {
    color:#1d1d1d;
  }
}

section {
  padding-left:1rem;
  padding-right:1rem;
}

section.blue {
    background:desaturate(darken($app-blue,0),0);
    h1,h2,h3,h4,h5,h6,p {
        color:white;
    }
}

@media (max-width:$screen-md) {
  .jumbo-image {
    margin-top:4em;
  }
}

.pt-badge {
  display:block;
  margin-top:50px;
  @media (max-width:$screen-md) {
    margin:20px auto;
    img {
      margin:0 auto;
    }
  }
}

.btn {
  text-transform:uppercase;
  letter-spacing:.03em;
  font-size:1rem;
  border-radius:4px;
  @media (max-width:$screen-md) {
    width:100%;
    margin-bottom:1rem;
  }
}

.btn-primary {
  background-color:$app-link;
  &:hover {
    background-color:lighten($app-link,5);
  }
}

section.solid {
  padding-top:0;
  padding-bottom:0;
  margin:0 1rem;
}
section.solid .container {
  padding-top:10rem;
  padding-bottom:10rem;
  border-radius:10px;
}
.container.green {
  background:$app-blue;
}
.container.green h3 {
  font-family:$demi;
  color: white;
}
.container.green span {
  color:#24AB7E;
  font-family:$bold;
}


footer {
  background-color:lighten(#e8eaed,5);
  padding:60px 1rem 0;
  .logo {
    width:100px;
  }
  ul, li {
    margin-left:0;
    padding-left:0;
      a.nav-link {
      margin-left:0;
      padding-left:0;
    }
  }
}

.cta {
  .container {
    padding-bottom:8em;
  }
  padding-top:8em;
}

.margin-bottom-sm {
  margin-bottom:20px;
}
.margin-bottom-md {
  margin-bottom:40px;
}
.margin-bottom-lg {
  margin-bottom:60px;
}
.margin-bottom-none {
  margin-bottom:0;
}
@media (max-width:$screen-md) {
  .margin-bottom-mobile-sm {
    margin-bottom:20px;
  }
  .margin-bottom-mobile-md {
    margin-bottom:40px;
  }
  .margin-bottom-mobile-lg {
    margin-bottom:60px;
  }
  .margin-bottom-mobile-none {
    margin-bottom:0;
  }
  .margin-top-mobile-sm {
    margin-bottom:20px;
  }
  .margin-top-mobile-md {
    margin-bottom:40px;
  }
  .margin-top-mobile-lg {
    margin-bottom:60px;
  }
  .margin-top-mobile-none {
    margin-bottom:0;
  }
  .padding-right-mobile-none {
    padding-right:0;
  }
}
