html, body {
    max-width: 100%;
    overflow-x: hidden;
}

.navbar-light {
    padding:1rem 2rem;
}

.homepage .jumbotron {
    background:white;
    // background:url('../assets/img/home-hero.jpg');
    // background-size:cover;
}

.homepage .jumbotron {
  padding-top:2rem;
  padding-bottom:5rem;
  img {
    width:160%;
    @media (max-width:$screen-md) {
      width:100%;
    }
  }
}

.how-it-works .jumbotron {
  padding-top:8rem;
  padding-bottom:8rem;
  background:url('../assets/img/elements_how-it-works.svg');
  background-size:cover;
  color:white;
  border-radius:0;
  h1 {
    color:white;
  }
}

.company .jumbotron {
  padding-top:2rem;
  padding-bottom:2rem;
  background:white;
  background-size:cover;
  color:white;
  border-radius:0;
  h1,p {
    color:#1d1d1d;
  }
}

.thank-you .jumbotron, .schedule-a-demo .jumbotron {
  background:white;
  background-size:cover;
  color:white;
  border-radius:0;
  h1,p {
    color:#1d1d1d;
  }
}

section {
  padding-left:1rem;
  padding-right:1rem;
}

section.blue {
    background:desaturate(darken($app-blue,0),0);
    h1,h2,h3,h4,h5,h6,p {
        color:white;
    }
}

.btn {
  text-transform:uppercase;
  letter-spacing:.03em;
  font-size:1rem;
  border-radius:4px;
  @media (max-width:$screen-md) {
    width:100%;
    margin-bottom:4rem;
  }
}

.btn-primary {
  background-color:$app-link;
  &:hover {
    background-color:lighten($app-link,5);
  }
}

section.solid {
  padding-top:0;
  padding-bottom:0;
  margin:0 1rem;
}
section.solid .container {
  padding-top:10rem;
  padding-bottom:10rem;
  border-radius:10px;
}
.container.green {
  background:$app-blue;
}
.container.green h3 {
  font-family:$demi;
  color: white;
}
.container.green span {
  color:#24AB7E;
  font-family:$bold;
}


footer {
  background-color:lighten(#e8eaed,5);
  padding:6rem 1rem;
  .logo {
    width:100px;
  }
  ul, li {
    margin-left:0;
    padding-left:0;
      a.nav-link {
      margin-left:0;
      padding-left:0;
    }
  }
}

.cta {
  .container {
    padding-bottom:8em;
  }
  padding-top:8em;
}

.margin-bottom-sm {
  margin-bottom:20px;
}
.margin-bottom-md {
  margin-bottom:40px;
}
.margin-bottom-lg {
  margin-bottom:60px;
}
.margin-bottom-none {
  margin-bottom:0;
}
@media (max-width:$screen-md) {
  .margin-bottom-mobile-sm {
    margin-bottom:20px;
  }
  .margin-bottom-mobile-md {
    margin-bottom:40px;
  }
  .margin-bottom-mobile-lg {
    margin-bottom:60px;
  }
  .margin-bottom-mobile-none {
    margin-bottom:0;
  }
  .margin-top-mobile-sm {
    margin-bottom:20px;
  }
  .margin-top-mobile-md {
    margin-bottom:40px;
  }
  .margin-top-mobile-lg {
    margin-bottom:60px;
  }
  .margin-top-mobile-none {
    margin-bottom:0;
  }
  .padding-right-mobile-none {
    padding-right:0;
  }
}
