/* Variables */
h1, h2, h3, h4, h5, h6, p, a, li {
  font-family: "AvenirNextLTPro-Regular", sans-serif; }

h1, h2, h4, h6 {
  font-family: "AvenirNextLTPro-Demi", sans-serif;
  color: #1d1d1d; }

h2, h4, h6 {
  line-height: 1.2em; }

h4 {
  font-family: "AvenirNextLTPro-Demi", sans-serif; }

h1 {
  line-height: 1em;
  font-family: "AvenirNextLTPro-Bold", sans-serif; }

h6 {
  font-size: 1.2em; }

.headline_larger {
  font-size: 3.3rem; }
  @media (max-width: 991px) {
    .headline_larger {
      font-size: 2.5rem; } }
  @media (max-width: 767px) {
    .headline_larger {
      font-size: 2.1rem; } }

h3, h5, h6, p, a, li {
  line-height: 1.5em; }

.icon {
  color: #04c7d0; }

a {
  font-size: 1.2em;
  color: #04c7d0; }
  a:hover {
    color: #04c7d0;
    cursor: pointer !important; }

ul {
  list-style-type: none; }

footer p {
  font-size: .8em; }

.icon {
  font-size: 3.5rem; }

.theme-evint {
  --fa-secondary-opacity: 1;
  --fa-primary-color: white;
  --fa-secondary-color: #24AB7E; }

.theme-evint-dark {
  font-size: 3em;
  --fa-secondary-opacity: 1;
  --fa-primary-color: #0B2970;
  --fa-secondary-color: #24AB7E; }

.boost {
  font-size: 2rem; }

.navbar-brand img.logo {
  width: 100px; }

.navbar {
  padding-top: 2rem;
  padding-bottom: 2rem; }

.navbar-light .navbar-nav .nav-link, .navbar-dark .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem; }

.navbar-dark .navbar-nav .nav-link {
  color: white; }

.navbar-dark .navbar-nav .nav-link:hover {
  color: yellow; }

.navbar-dark .navbar-toggler {
  color: white;
  opacity: 1;
  border: none; }

.navbar-light .navbar-toggler {
  opacity: 1;
  border: none; }

.navbar-toggler:active,
.navbar-toggler:hover,
.navbar-toggler:focus,
.navbar-toggler:visited {
  outline: none; }

.navbar-light .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link {
  font-size: 1.2rem; }

.navbar-light .navbar-nav a.nav-link {
  color: #03979E; }
  .navbar-light .navbar-nav a.nav-link:hover {
    color: #03afb7; }

@media (max-width: 991px) {
  .nav-item:first-of-type {
    margin-top: 1rem; }
  .navbar-light .navbar-nav .nav-link,
  .navbar-dark .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
    text-align: center;
    font-size: 2rem; } }

.jumbotron {
  margin-bottom: 0; }

hr {
  padding: 0;
  margin: 0; }

section, footer {
  background-color: white;
  padding-top: 6rem;
  padding-bottom: 0rem; }

section .container {
  border-bottom: 2px solid #eee;
  padding-bottom: 6rem; }

section.no-border .container {
  border-bottom: none; }

.container {
  max-width: 76.875rem; }

footer a.logo {
  display: block;
  width: 100px; }

img {
  width: 100%; }

.btn-primary {
  background-color: #23b790;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  font-family: "AvenirNextLTPro-Demi", sans-serif; }
  .btn-primary:hover {
    background-color: #1b8c6e; }

.center {
  display: block;
  margin: 0 auto; }
